<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">分类</h3>
    <div class="widget">
      <ul>
        <% site.categories.sort('name').each(function(item){ %>
        <li><a href="<%- config.root %><%- item.path %>" class="animsition-link"><%= item.name %>(<%= item.posts.length %>)</a></li>
        <% }); %>
			</ul>
    </div>
  </div>
<% } %>